{{ if .Site.Data.clients.enable }}
{{ "<!-- Client Section Start -->" | safeHTML }}
<section class="section">
    <div class="container">
     
        <div class="row">
            <div class="col-md-12">
                <div id="clients-slider" class="clients-logo-slider">
                    {{ range .Site.Data.clients.clientLogo }}
                    <img src="{{ .image | absURL }}" alt="client-logo">
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</section>
{{ "<!-- Client Section End -->" | safeHTML }}
{{ end }}