{{ if .Site.Data.philosophy.enable }} 
{{ "<!-- Philosophy Section Start -->" | safeHTML }}
<section class="about-mission-vision section">
    <div class="container">
        <div class="row">
        <div class="row">
            <div class="title">
                {{ with .Site.Data.philosophy.title }}
                <h2>{{ . }}</h2>{{ end }}
                <span class="border"></span>

            </div>
        </div>
        <div class="row">

            <div class="col-md-7">
                    <div class="row">
                <div class="media">
                    {{ with .Site.Data.philosophy.image }}

                    <img height="200px" width="220px" class="mr-3 img-thumbnail rounded shadow" src="{{ .| absURL }}" alt="founder-image"> 
                    {{ end }}
                    <div class="media-body">
                        {{ with .Site.Data.philosophy.media_head }}
                        <h2 class="mt-0">{{ . }}</h2>
                        {{ end }} 
                        {{ with .Site.Data.philosophy.media_body }}
                        <p>{{ . }}</p>
                        {{ end }}
                    </div>
                </div>
                </div>
                <div class="row">
                        <div class="col-md-6 ">
                                {{ with .Site.Data.philosophy.history.heading }}
                                <h2>{{ . }}</h2>{{ end }} 
                                {{ with .Site.Data.philosophy.history.content }}
                                <p>{{ . | safeHTML }}</p>{{ end }}
                            </div>
                            <div class="col-md-6">
                                    {{ with .Site.Data.philosophy.history }}
                                <img class="img-thumbnail rounded shadow" src="{{ .image | absURL }}" alt="tab-image">
                                {{end}}
                            </div>
                </div>
                <hr>
                <div class="row">
                        <div class="col-md-6 ">
                            {{ with .Site.Data.philosophy.mission.heading }}
                            <h2>{{ . }}</h2>{{ end }} {{ with .Site.Data.philosophy.mission.content }}
                            <p>{{ . | safeHTML }}</p>{{ end }}
                        </div>
                        <div class="col-md-6">
                                {{ with .Site.Data.philosophy.mission }}
                            <img class="img-fluid rounded shadow" src="{{ .image | absURL }}" alt="tab-image">
                            {{end}}
                        </div>
            
            
                    </div>
                    <div class="row">
                        {{ partial "clients.html" .}}
                    </div>
                    

            </div>
            <div class="col-md-5">
                {{ partial "naics.html" .}}
            </div>
            
            <div class="row">
                <div class="container">
                <h1>Where We Work</h1>
                    {{ partial "world-map.html" .}}
                </div>
            </div>
               
        </div>
        
        </div>
        

    </div>
</section>
{{ "<!-- Philosophy Section End -->" | safeHTML }} {{ end }}